@{
    ViewBag.Title = "Index";
}

<h2 style="font-size: 15px;">
    <a href="@Url.Action("AddOrEdit","Inventory")" class="btn btn-default" style="font-size: 15px;">Create New</a>
    
    <a href="@Url.Action("Details","Inventory")" class="btn btn-default" style="font-size: 15px;">View All</a>
</h2>


