@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}



<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>


<h2 style="font-size: 15px;">
    <a href="@Url.Action("Index","Inventory")" class="btn btn-default" style="font-size: 20px;">Back</a>
</h2>

